<h2 class="info">About</h2>
<p>metagoto's blog is a blog.</p>

<h3 class="info">Contact</h3>
<p>This actually is an email address: runpac314 /AT/ gmail /DOT/ com</p>

<h3 class="info">Bio</h3>
<p>Late twenty something, living in France and working in a branch that has nothing to do with IT. I enjoy playing with a computer in my 
  spare times. I am also a self-taught guitar virtuoso who like sleeping a lot. I suck at image edition even if I
  used to be a creative genius when given a simple pen and a sheet of paper. For those who care, <i>metagoto</i> is not my real name.
  It's just 8 letters packed in a word. If you encounter my gravatar on the net, you know, the one with that guy holding a guitar, 
  then it's not me on the picture. It's <a href="http://en.wikipedia.org/wiki/Rory_Gallagher">Rory Gallagher</a>, the greatest
  front man in history.</p>

<h3 class="info">About this site</h3>
<p>It runs on <a href="http://www.slackware.com">slackware</a> behind <a href="http://nginx.org">nginx</a>. 
  The fastcgi magics are handled by my <a href="http://github.com/metagoto/fcgixx">fcgixx</a> C++
  framework. Yes, it's a custom blog. The source code is freely available <a href="http://github.com/metagoto/blog">here</a>.</p>
