<h2 class="info">Formating help</h2>
<p>Text in your comment is automatically escaped. Paragraphes will be enclosed with &lt;p&gt; elements.</p>
<p>You can submit snippet codes by surrounding them with <strong>---</strong> (three dashes) at the beginning of lines.</p>
<p>When in doubt, <strike>use brute force</strike> preview your comment!</p>
<h3 class="info">Example:</h3>
<p>Dummy comment blah<br/>
---<br/>function foo(bar) {<br/>&nbsp;&nbsp;// working so far<br/>}<br/>---<br/>Another para</p>
<h3 class="info">Result:</h3>
<p>Dummy comment blah</p><pre>function foo(bar) {
  // working so far
}</pre><p>Another para</p>