<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{%= title %} - blog.runpac.com</title>
<link rel="stylesheet" type="text/css" href="/css/main.css?1258842750" />
<link rel="stylesheet" type="text/css" href="/css/QuodeJSH.css?1258842740" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
<link rel="alternate" type="application/atom+xml" title="metagoto's blog" href="http://blog.runpac.com/feed"/>
</head>
<body>
<div id="header">
<h1>&lt;<a href="/">header<span>.hpp</span></a>&gt;</h1>
<p>insert text here</p>
</div>
<div id="main">
<div id="content">
{%:r= content %}
</div>
<div id="sidebar">
{%:r= sidebar %}
</div>
</div>
<div id="footer">
{%:r= footer %}
</div>
<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/js/QuodeJSH-0.3.js?1258842740"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript">
ga = 0; if (document.location.toString().indexOf(".comlocal") == -1) { ga = 1;
document.write(unescape("%3Cscript src='http://www.google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); }
</script><script type="text/javascript">
if (ga) { try {
var pageTracker = _gat._getTracker("UA-11715542-1");
pageTracker._trackPageview();
} catch(err) {} }</script>
</body>
</html>
