<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{%= title %} - blog.runpac.com</title>
<link rel="stylesheet" type="text/css" href="/css/main.css?1" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
<link rel="alternate" type="application/atom+xml" title="metagoto's blog" href="http://blog.runpac.com/feed"/>
</head>
<body>
    
<div id="header">    
<h1><a href="http://blog.runpac.com">metagoto's blog</a></h1>
<h2>espérons que ça se passe correctement</h2>
<div id="nav">
<ul> 
<li><a href="/">Home</a></li> 
<li><a href="/">Livre d'Or</a></li> 
<li><a href="/about">About</a></li> 
</ul>
<form action="http://www.google.com/cse" id="search"> 
<div><input type="hidden" name="cx" value="001797445486971129697:3ksyczsbywi" /> 
<input type="hidden" name="ie" value="UTF-8" /> 
<input type="text" name="q" size="10" class="stext" title="Search"/> 
<input type="submit" name="sa" value="Search" style="display: none"/></div> 
</form>
</div>
</div>

<div id="wrap">
<div id="content">
{%:r= content %}
</div>

<div id="sidebar">
{%:r= sidebar %}
</div>
</div>

<div id="footer">
copyright 2010 <a href="http://blog.runpac.com">blog.runpac.com</a>. site optimized for me. <a href="http://github.com/metagoto/blog">source code</a>. <a href="#">top</a> 
</div>
	
<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/js/main.js?1"></script>
<script type="text/javascript">
ga = 0; if (document.location.toString().indexOf(".comlocal") == -1) { ga = 1;
document.write(unescape("%3Cscript src='http://www.google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); }
</script><script type="text/javascript">
if (ga) { try {
var pageTracker = _gat._getTracker("UA-11715542-1");
pageTracker._trackPageview();
} catch(err) {} }</script>
</body>
</html>
