<div class="post">
  <div class="meta">
    <p>{%:r= post.date.toDateString() %}</p>
    <p>{%:r= post.cats.map(function (t) {
      return '<a href="/category/'+t._id+'">'+t.name+'</a>';
    }).join(", ") %}</p>
    <p>{%:r= post.tags.map(function (t) {
      return '<a href="/tag/'+t._id+'">'+t.name+'</a>';
    }).join(", ") %}</p>
    <p>{%= post.numComs %} comment{%= post.numComs > 1 ? "s" : ""%}</p>
  </div>
  <h2><a href="/post/{%= post._id %}">{%= post.title %}</a></h2>
  <div class="entry">{%:r= post.content %}</div>
</div>

{% if (post.numComs): %}
<hr/>
{% for (k in post.coms) : %}
<div class="com">
 <div class="meta">
   <p>{%= post.coms[k].date.toDateString() %}</p>
   <p>{% if (post.coms[k].site) : %}<a href="{%= post.coms[k].site %}">{%= post.coms[k].user %}</a>{% else : %}{%= post.coms[k].user %}{% end %}</p>
 </div>
<div class="entry">{%:h:m= post.coms[k].content %}</div>
</div>
{% end %}
{% end %}

<hr/>
<div id="preview-comment"> </div>

<form method="post" action="/post/{%= post._id %}">

<p><input type="text" id="email" name="email" value="" maxlength="40" />
<label for="email">Username*</label></p>

<p><input type="text" id="user" name="user" value="" maxlength="80" />
<label for="user">Email*</label></p>

<p><input type="text" id="site" name="site" value="" maxlength="100" />
<label for="site">Website (we do follow)</label></p>

<p><textarea id="com_con" name="com_con" cols="50" rows="20"></textarea></p>

<p><input type="text" id="check" name="check" value="" maxlength="8" />
<label for="check">= 1 + 1</label></p>

<p><input type="submit" id="submit" name="submit" value="Send" />
<input type="button" id="previewb" value="Preview"/>
<a href="/help">Formating help</a></p>

</form>
