<ul>
<li><a href="/">/home</a></li>
<li><a href="/about">/about</a></li>
</ul>

<h3>Feeds</h3>
<ul>
<li><a href="http://blog.runpac.com/feed">Posts</a></li>
<li class="strike"><a href="">Comments</a></li>
</ul>

<h3>Categories</h3>
<ul>{% for (i in cats) : %}
<li><a href="/category/{%= cats[i]._id %}">{%= cats[i].name %}</a> ({%= cats[i].count %})</li>
{% end %}</ul>

<h3>Tags</h3>
<ul class="tag">{% for (i in tags) : %}
<li><a href="/tag/{%= tags[i]._id %}" style="font-size:{%= 60+tags[i].count*20 %}%;" title="{%= tags[i].count %} entries">{%= tags[i].name %}</a></li>
{% end %}</ul>

<h3>Links</h3>
<ul>
<li><a href="http://cpp-next.com">C++Next</a></li>
<li><a href="http://alpmestan.wordpress.com">Alp Mestan's blog</a></li>
<li><a href="http://blog.pascal-martin.fr">Pascal MARTIN's blog</a></li>
</ul>

<h3>Follow me</h3>
<ul class="strike">
<li>Twitter</li>
<li>identi.ca</li>
<li>facebook</li>
<li>Delicious</li>
</ul>