
<div id="side1">  
<ul> 
<li><a class="feed" href="http://blog.runpac.com/feed">Subscribe</a></li>
</ul>
  
<h3>Categories</h3>
<ul class="bullet cats"> 
{% for (i in cats) : %}
 <li><a href="/category/{%= cats[i]._id %}">{%= cats[i].name %}</a> ({%= cats[i].count %})</li>
{% end %}
</ul>
  
<h3>Latest Posts</h3> 
<ul class="bullet"> 
{% for (i in recentPosts) :%}
 <li><a href="/post/{%= recentPosts[i]._id %}">{%= recentPosts[i].title %}</a></li>
{%end%}
</ul>
  
<h3>Latest Comments</h3> 
<ul class="bullet">
{% for (i in recentComs) :%}
 <li><a href="/post/{%= recentComs[i].post._id %}#comments">{%= recentComs[i].user %}</a> - {%= recentComs[i].post.title %}</li>
{%end%}
</ul> 
</div>

<div id="side2">
<h3>Micro Blog</h3> 
<ul class="tweets"> 
<li>Update cosmétique du blog - <span class="guid">14 Sep 2010</span></li>  
<li>La page <a href="/about">About</a> a finalement été mise à jour - <span class="guid">07 Mar 2010</span></li>
<li>Nouveau design, back to the freaking basics - <span class="guid">07 Mar 2010</span></li> 
</ul>
  
{%:r= tweets %}
  
<h3>Tags</h3> 
<ul class="tags"> 
{% for (i in tags) : %}
 <li><a href="/tag/{%= tags[i]._id %}" rel="nofollow" title="{%= tags[i].count%} entries" style="font-size:{%= 7+tags[i].count*2 %}px;">{%= tags[i].name %}</a></li>
{% end %}
</ul>
  
<h3>Links</h3> 
<ul class="bullet">
<li><a href="http://cpp-next.com">C++Next</a></li>
<li><a href="http://boost-spirit.com">Boost-Spirit</a></li>
<li><a href="http://alpmestan.wordpress.com">Alp Mestan</a></li>
<li><a href="http://blog.pascal-martin.fr">Pascal Martin</a></li>
<li><a href="http://ljouanneau.com/blog">Laurent Jouanneau</a></li>
<li><a href="http://blog.mageekbox.net">Frédéric Hardy</a></li>
<li><a href="http://blog.developpez.com/julienpauli">Julien Pauli</a></li>
</ul>
</div>
