<h3>Tweets</h3>
<ul class="tweets">
<li>metagoto: en attendant j'ai une ext SplClassLoader en C qui implémente PSR-0. environ 30% de perf en plus par rapport à http://gist.github.com/221634 - <a href="http://twitter.com/metagoto/statuses/7373985975">04 Jan 2010</a></li>
<li>metagoto: Ma request de membership est pending depuis 2 semaines. http://groups.google.com/group/php-standards - <a href="http://twitter.com/metagoto/statuses/7373860877">04 Jan 2010</a></li>
<li>metagoto: RT @mongodb: MongoDB 1.2.1 is out - stable branch, just bug fixes http://groups.google.com/group/mongodb-user/browse_thread/thread/7a883 ... - <a href="http://twitter.com/metagoto/statuses/7208622508">30 Dec 2009</a></li>
<li>metagoto: compte twitter créé. ajout du lien sur http://blog.runpac.com . y eu du boulot de fait - <a href="http://twitter.com/metagoto/statuses/7134770674">28 Dec 2009</a></li>
<li>metagoto: nothing - <a href="http://twitter.com/metagoto/statuses/7132627512">28 Dec 2009</a></li>
<li><a href="http://twitter.com/metagoto">More tweets..</a></li></ul>
