

body 
{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: georgia,"Lucida Grande",Helvetica;
	background: #000 url(wood.jpg) repeat-x fixed;
	color: #fff;
}

a
{
	text-decoration: none;
}

ul
{
	margin-left: 20px;
	padding-left: 15px;
	list-style: outside;
}


ul.tag, ul.tweets
{
	padding-left: 0;
	list-style: none;
	font-size: 12px;
}

ul.tweets li
{
	margin-bottom: 7px;
	font-family: "Lucida Grande";
}


ul.tag li
{
	display: inline;
}

pre
{
	font-size: 14px;
	background: rgba(0,0,0,.6);
	border: 1px solid rgba(100,100,100,.8);
	color: #fff;
	text-shadow: none;
	padding: 4px;
}

code
{
	font-size: 14px;
}


h2.info
{
	text-align: center;
	margin-bottom:30px !important;
	display:block;
}

#pack
{
	width: 980px;
	margin: 0 auto;
}


#header
{
	height: 300px;
	font-family: georgia;
	margin: 0;
	padding: 0;
}

#header h1
{
	margin: 60px 50px 0 0;
	padding: 0;
	float: right;
}

#header h1 a
{
	font-size: 40px;
	text-decoration: none;
	color: #fff;
	text-shadow: 3px 3px 3px #000;
}

#header h1 a:hover
{
	background: none;
	text-shadow: 1px 1px 20px #BDD8DA;
}


#header h2
{
	margin: 40px 0 0 20px;
	padding: 0;
	color: #aaa;
	float: left;
	width: 380px;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
}

#header h2 span
{
	color: #fff;
}

#header p
{
	clear: both;
	float: left;
	width: 100%;
	text-align: center;
	margin: 120px 0 0 30px;
	color: rgba(255,255,255, .1);
}

#nav
{
	float: left;
	list-style: none;
	margin-left: 0;
}

#nav li
{
	float: left;
}

#nav li a
{
	display: block;
	padding: 200px 16px 16px 16px;
	font-size: 30px;
	color: #fff;
	text-shadow: 3px 3px 3px #000;
}

#nav li a:hover
{
	background: rgba(0,0,0,.3);
	-webkit-border-top-left-radius: 18px;
	-webkit-border-top-right-radius: 18px;
	-moz-border-radius-topleft: 18px;
	-moz-border-radius-topright: 18px;
	
}



#cat
{
	margin-top: 50px;
	float: right;
	list-style: none;
	width: 500px;
	letter-spacing: 10px;
}

#cat li
{
	float: left;
	margin-right: 10px;
}

#cat a
{
	color: #BDD8DA;
	text-shadow: 3px 3px 3px #000;
}

#cat a:hover
{
	background: none;
	color: #fff;
}


#wrap
{
	float: left;
	margin: 0;
	padding: 0;

}

#main
{
	float: left;
}


#content
{
	float: left;
	width: 600px;
	padding: 20px;
	color: #000;
	text-shadow: 0px 1px 1px #999;
	background: url(paper.png) top left scroll repeat-y;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

}

#content h2
{
	padding: 0;
	margin: 0;
	font-family: georgia;
	font-size: 30px;
	text-shadow: 1px 1px 2px #000;
	text-transform: uppercase;
}

#pagi {
	
	margin: 2em 0 0 0;
}
#pagi .prev {
	float:left;
}
#pagi .next {
	float:right;
}
#pagi a {
	color: #fff;
}


.post
{
	padding: 20px 0 60px 0;
	color: #000;
	background: url(hr.png) bottom center scroll no-repeat;
}

.post .date
{
	float: left;
	margin: 0 20px 20px 0;
	width: 100px;
	font-size: 40px;
	text-align: center;
	line-height: 33px;
}

.post .date span
{
	font-size: 90px;
	color: #fff;
	
}

.meta, .foot
{
	color: #eee;
	opacity: .6;
}

.entry
{
	clear: both;
}

.entry blockquote {
	border-left: 2px solid #ddd;
	padding-left: 10px;
	margin-right: 0;
	color: #fff;
}

#content a
{
	color: #BDD8DA;
	text-decoration: none;
}

#content a:hover
{
	background: rgba(0,0,0,.4);
}


#sidebar
{
	float: left;
	width: 320px;
	padding-left: 20px;
	text-shadow: 0px 1px 1px #000;
}

#sidebar .feed
{
	display: block;
	width: 300px;
	height: 300px;
	margin: 0 0 0 5px;
	padding: 0;
	background: transparent url(rss.png) no-repeat;
	opacity: .5;
}

#sidebar .feed:hover
{
	opacity: 1;
}

#sidebar a, #footer a
{
	color: #BDD8DA;
	text-decoration: none;
}

#sidebar a:hover, #footer a:hover
{
	color: #fff;
}

#sidebar ul
{
	list-style: none;
	margin-left: 0;
	padding: 0;
}

#sidebar h3, #footer h3
{
	color: #fff;
	text-shadow: 3px 3px 3px #000;
	font-size: 22px;
	padding: 0;
	margin: 0;
}


ol.coms {
  margin: 2em 0 0 20px;
  padding: 0 0 0.5em 0;
}
ol.coms li {
  margin: 0 0 2em 0;
}


#preview-comment {
  margin: 2em 0 0 0;
}

form {
	padding: 1em 0 1em 0;
}

form p {
	padding: 0.5em 0;
}

form a {
	float: right;
}
textarea {
	width: 100%;
	height: 200px;
	font: inherit;
}

label {
	float: left;
	margin-left: 10px;
}

input {
	width: 200px;
	float: left;
	clear: both;
	font: inherit;
}
	
input[type=submit], input[type=button] {
	float: left;
	clear: none;
	width: 80px;
	margin: 0 1em 0 0;
}


#search div
{
	margin-top: 10px;
	padding: 16px;
	margin-bottom: 10px;
	background: rgba(0,0,0,.3);
}
#search .stext {
    float: none;
	width: 265px;
    border: 1px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: transparent;
    color: #fff;
    height: 20px;
    padding: 10px;
    margin: 0;
	font-size: 14px;
	font-family: "Lucida Grande";
}

#search .stext:hover {
    border: 1px solid #999;
}



#sidebar .box
{
	padding: 16px 16px 6px 16px;
	margin-bottom: 20px;
	background: rgba(0,0,0,.3);
}


#menu
{
	clear: both;
	float: left;
	width: 640px;
	padding: 36px;
	color: #222;
	
}

#footer
{
	clear: both;
	padding: 16px 16px 6px 16px;
	margin-bottom: 20px;
}

#footer ul {
	margin: 20px 0 0 0;
	padding:0;
	list-style: none;
}

#footer .col {
	float: left;
	width: 50%;
	padding: 1em 0 0 0;
}

#footer li {
	border-bottom: 1px dotted #222;
	padding: .2em 0 .3em 0;
	width: 96%;
}

.end {
	padding: 2em 0;
	clear: both;
	text-align: center;
	font-size: .9em;
	color: #999;
}

.end a {
	color: #fff;
}



