/* v1.0 | 20080212 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/*body {
  line-height: 1;
}*/
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ################# */


body 
{
	font-size: 13px;
	font-family: "Lucida Grande",georgia,"Lucida Grande",Helvetica;
	background: #fff; 
	color: #000;
}

a
{
  text-decoration: none;
  color: #004A99;
  font-weight: bold;
}
a:hover
{
  text-decoration: underline;
}

#header
{
	width: 960px;
	margin: 0 auto;
	padding: 20px 10px 20px 10px;
	position: relative;
}

#header h1
{
  font: 30px georgia;
  font-weight: bold;
}

#header h1 a
{
  color: #000;
}
#header h1 a:hover
{
  text-decoration: none;
}

#header h2
{
  font-weight: normal;
  font-size: 11px;
}

#nav
{
  position: absolute;
  right: 16px;
  top: 6px;
}

#nav ul
{
	float: left;
	list-style: none;
	margin-left: 0;
}

#nav li
{
	float: left;
	margin: 0 0 4px 10px;
}
#nav a
{
  color: #aaa;
}

#nav input
{
  width: 164px;
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: right;
	height: 1.5em;
}

#wrap
{
	width: 980px;
	margin: 0 auto;
}

#content
{
	float: left;
	width: 553px;
	padding: 10px 16px 10px 10px;
  border-right: 1px solid #eee;
  line-height: 1.4em;
}

#content .post
{
  margin: 0 0 30px 0;
}

#content .date
{
  float: left;
  margin: 0 10px 10px 0;
  padding: 4px;
  width: 30px;
  font: 11px georgia;
  line-height: 1.1em;
  color: #444;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ddd;
  background: #efefef;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#content .date span
{
  color: #800000;
  font-size: 12px;
}

#content h2
{
  margin: 0 0 2px 0;
  font: 20px georgia;
}

#content .meta
{
  font-size: 10px;
  color: #888;
}

#content .foot
{
  font-size: 10px;
  color: #888;
  margin: 10px 0 0 0;
}

#content h3
{
  font: 14px georgia;
  color: #888;
  font-weight: bold;
}

#content h2.info
{
  margin: 0 0 20px 0;
  font: 20px georgia;
  color: #888;
}

#content h3.info
{
  margin: 16px 0 10px 0;
  font: 17px georgia;
  color: #888;
}

#content .entry
{
  clear: both;
}

#content .entry h3
{
  margin: 16px 0 10px 0;
  font-size: 15px;
  color: #000;
}

#content p
{
  margin: 10px 0 10px 0;
}

#content ul
{
  list-style: disc outside;
  margin: 10px 0 10px 32px ;
}

#content li
{
  margin: 6px 0 6px 0;
}

#content pre
{
  border: 1px solid #eee;
  background: #fbfbfb;
  font: 12px 'Andale Mono', 'Courier New', monospace;
  padding: 2px 0 2px 4px;
  margin: 10px 0 10px 0;
}

#content code
{
  border: 1px solid #eee;
  background: #fbfbfb;
  font: 12px 'Andale Mono', 'Courier New', monospace;
  padding-left: 1px;
  padding-right: 1px;
}

#content pre code
{
  border: none;
}

#content blockquote
{
  background: transparent url(quote.png) no-repeat 0 0;
  margin: 10px 0 10px 16px;
  padding: 0 0 0 28px;
  font-family: georgia;
  color: #666;
  font-style: italic;
}

#content abbr
{
  border-bottom: 1px dotted #888;
}

#pagi {
	padding: 0 0 26px 0;
}
#pagi .prev {
	float:left;
}
#pagi .next {
	float:right;
}
#pagi a {
	color: #888;
}

#sidebar
{
	float: left;
	width: 384px;
	padding: 0 0 10px 0;
}

#sidebar h3
{
  margin: 0 0 10px 0;
  font: 17px georgia;
  color: #888;
}

#sidebar h3 a
{
  font-weight: normal;
  color: inherit;
}

#sidebar ul
{
  margin: 0 0 18px 0;
}

.tweets
{
  font-size: 10px;
}
.tweets li
{
  margin: 5px 0 0 0;
}

.tweets a
{
  font-weight: normal;
}
.tweets .guid
{
  color: #888;
}

.feed {
  padding: 0 0 0 19px;
  background: url("feed.png") no-repeat 0 50%;
}

#sidebar ul.bullet
{
  list-style: disc outside;
  margin-left: 16px;
  font-size: 12px;
  color: #aaa;
}
#sidebar ul.bullet li
{
  margin: 0 0 4px 0;
}

#side1
{
  float: left;
  width: 165px;
  margin: 0 0 0 16px;
  padding: 10px 16px 0 0;
  overflow: hidden;
  border-right: 1px solid #eee;
}

#side2
{
  float: left;
  width: 166px;
  margin: 0 0 0 16px;
  padding: 10px 0 0 0;
  overflow: hidden;
}

#footer
{
  clear: both;
  margin: 0 auto;
  padding: 10px;
  background: #000;
  border-top: 3px solid #888;	
  text-align: center;
  color: #ddd;
  font-size: 10px;
}
#footer a
{
  color: #fff;  
  text-decoration: underline;
}

ol.coms {
  list-style: outside decimal;
}
ol.coms li {
  padding: 10px 0 2px 0;
}

#preview-comment {
  margin: 12px 0 0 0;
}

form {
	padding: 10px 0 16px 0;
}

form p {
	padding: 0.5em 0;
}

form a {
	float: right;
}
textarea {
	width: 100%;
	height: 200px;
	font-size: 13px;
}

label {
	float: left;
	margin-left: 10px;
}

input {
	width: 200px;
	float: left;
	clear: both;
	font-size: 13px;
}
	
input[type=submit], input[type=button] {
	float: left;
	clear: none;
	width: 80px;
	margin: 0 1em 0 0;
}

/* ###### */

.jsh-php .comment { color: #808080; }
.jsh-php .single-string { color: #800000; }
.jsh-php .double-string { color: #800000; }
.jsh-php .number { color: #800080; }
.jsh-php .operator { color: #008000; }
.jsh-php .keyword { color: #000080; }
.jsh-php .variable { color: #800080; }
.jsh-php .tag { color: #808000; }

.jsh-js .comment { color: #808080; }
.jsh-js .string { color: #800000; }
.jsh-js .number { color: #800080; }
.jsh-js .operator { color: #008000; }
.jsh-js .keyword { color: #000080; }
.jsh-js .regex { color: #800080; }

.jsh-css .comment { color: #808080; }
.jsh-css .string { color: #800000; }
.jsh-css .operator { color: #008000; }
.jsh-css .keyword { color: #000080; }
.jsh-css .id { color: #800080; }
.jsh-css .class { color: #200080; }
.jsh-css .color { color: #888; }
.jsh-css .media { color: #7DFDFA; }
.jsh-css .pseudo { color: #7DFDFA; }

.jsh-cpp .comment { color: #808080; }
.jsh-cpp .double-string { color: #800000; }
.jsh-cpp .single-string { color: #800000; }
.jsh-cpp .number { color: #800080; }
.jsh-cpp .operator { color: #008000; }
.jsh-cpp .keyword { color: #000080; }
.jsh-cpp .preproc { color: #808000; }

.jsh-sql .comment { color: #008000; }
.jsh-sql .string { color: #800000; }
.jsh-sql .number { color: #f00; }
.jsh-sql .operator { color: #008000; }
.jsh-sql .variable { color: #008fff; }
.jsh-sql .keyword { color: #00f; }

.jsh-xml .comment { color: #FF7D27; }
.jsh-xml .tag { color: #aaa; }
.jsh-xml .prefix { color: #94FE9A; }
.jsh-xml .tag-name { color: #9CCFF4; }
.jsh-xml .attribute { color: #EBDB8D; }
.jsh-xml .attribute-value { color: #FF9E7B; }
.jsh-xml .cdata { color: #888; }
.jsh-xml .pi { color: #AEC4DE; font-style: italic; }
.jsh-xml .doctype { color: #7DFDFA; }
.jsh-xml .entity { color: #7DFDFA; }

/* embedded */

.jsh-xml .php .comment { color: #FF7D27; }
.jsh-xml .php .single-string { color: #AA6950; }
.jsh-xml .php .double-string { color: #FF9E7B; }
.jsh-xml .php .number { color: #94FE9A; }
.jsh-xml .php .operator { color: #EBDB8D; }
.jsh-xml .php .keyword { color: #9CCFF4; }
.jsh-xml .php .variable { color: #888; }
.jsh-xml .php .tag { color: #7DFDFA; }

.jsh-xml .js .comment { color: #FF7D27; }
.jsh-xml .js .string { color: #FF9E7B; }
.jsh-xml .js .number { color: #94FE9A; }
.jsh-xml .js .operator { color: #EBDB8D; }
.jsh-xml .js .keyword { color: #9CCFF4; }
.jsh-xml .js .regex { color: #888; }

.jsh-xml .css .comment { color: #FF7D27; }
.jsh-xml .css .string { color: #FF9E7B; }
.jsh-xml .css .operator { color: #EBDB8D; }
.jsh-xml .css .keyword { color: #9CCFF4; }
.jsh-xml .css .id { color: #94FE9A; }
.jsh-xml .css .class { color: #AEC4DE; }
.jsh-xml .css .color { color: #888; }
.jsh-xml .css .media { color: #7DFDFA; }
.jsh-xml .css .pseudo { color: #7DFDFA; }


